/* Front-end-Delice */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
}
h1,h3{
    color: rgb(36, 36, 36);
    text-align: center;
    font-size: 1.4rem;
}
a, button{
  cursor: pointer;
}
a{
  color: rgb(132, 0, 255);
}
a:hover{
  color: rgb(240, 129, 69);
}
.home-page p{
    color: #ddd;
    text-align: center;
    font-size: 1.2rem;
    margin-top: -30px;
}
.home-page h2{
  text-align: center;
  vertical-align: middle;
  margin-top: -70px;
}
.home-page h3{
  text-align: center;
  color: #fdfdfd;
  font-size: 2.2rem;
}
.site-card{
    width: 100%;
    max-width: 800px;
    justify-content: center;
    padding: 50px;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 50px;  
    background-color:rgba(247, 247, 247, 0.8);
    border-radius: 5px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
}
.site-card p{
    text-align: center;
    font-size: 1.2rem;
    color: rgb(36, 36, 36, 0.6);
}
.home-card{
  width: 100%;
  max-width: 900px;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 50px;  
}
.register-btn{
    background-color: #6f42c1;
    border-color: #6f42c1;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-top: 15px;
}
.register-btn:hover{
  background-color: rgba(29, 51, 67, 1);
  border-color: rgba(29, 51, 67, 1);
}
.login-btn{
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-top: 15px;
}
.login-btn:hover{
  background-color: rgba(29, 51, 67, 1);
  border-color: rgba(29, 51, 67, 1);
}
.register-button-frame{
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.homePage {
    height: auto;
    width: auto;
  }

.listUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .listLiUl {
    padding: 10px;    
    margin-bottom: -5px;
  }
  
  .success {
    background-color: #fff;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    text-decoration: none;
    border: none;
    color: rgb(53, 53, 53);
    border-radius: 5px;
    width: 870px;
    height: 206px;
    font-size: 16px;
    text-align: left;
  }

  .createCv{
    background-color: rgb(255, 102, 0);
    text-decoration: none;
    border: 1px solid rgb(255, 102, 0);
    color: white;
    padding: 30px;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1rem;
    margin-bottom: 50px;
    margin-top: 25px;
  }
  .createCv:hover{
    border: none;    
  }

  .succes-image{
    width: 95px;
    height: 95px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .header-style{
    padding: 5px;   
    background-color: rgba(34, 49, 63, 0.6);
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    padding-right: 150px;
    padding-left: 150px;
  }
  .header-style a{
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
  }
  .menu-item:hover{
    color: rgb(255, 102, 0);
    text-decoration: none;
  }
  .header-style b{
    color: rgb(172, 172, 172);
    text-decoration: none;
  }
  .logo{
    font-size: 1.5rem;
    margin-left: 50px;
  }
  .header-style ul{
    list-style-type: none;
    margin: 0;
    padding-top: 5px;
    
  }
  .header-style li{
    display: inline;
  }
  .menu-item{
    padding-top: 5px;
    float: right;    
    font-size: 13px;    
  }
  .page-container{
    width: 100%; 
    height: auto;
    padding-top: 100px;
    padding-left: 17%;
    padding-right: 10%;
  }
  .page-container h1{
    color: rgba(247, 247, 247, 0.8);
    text-align: center;
    font-size: 2rem;
    margin-bottom: -50px;
  }
  .page-card{
    width: 30%;
    height: 350px;
    justify-content: center;
    padding: 30px;
    margin: 0 auto;
    margin-top: 100px;
    margin-right: 25px;
    background-color:rgba(247, 247, 247, 0.8);
    border-radius: 5px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    float: left;
    text-align: center; 
  }
  .page-icons{
    width: 110px;
    height: 110px;
  }
  .footer-style{
    color: #fdfdfd;
    margin-top: 200px;
    padding-top: 100px;
    padding-bottom: 50px;
    position:relative;
    left: 0;
    margin: 0 auto;
    width: 500px;
    bottom:0;
    top: 50px;
    text-align:center;
  }
  .footer-style a{
    color: pink;
    text-decoration: none;
  }
  .footer-style a:hover{
    color: rgb(255, 102, 0);
    text-decoration: none;
  }
  .radio-text{
    color:rgba(8, 8, 8, 0.5);
    background-color:rgba(247, 247, 247, 0.8);
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
  }
  .next-cv button{
    background-color: rgb(255, 102, 0);
    text-decoration: none;
    border: 1px solid rgb(255, 102, 0);
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1rem;
    margin-bottom: 50px;
    margin-top: 25px;
  }
  .next-cv button:hover{
    border: none;    
  }
  .navbar-alt{
    color: #fff;
    text-align: center;
    margin-top: -70px;
  }

  .container-bar {
    margin-top: 150px;
    width: 96.7%;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 1rem;
  }
  
  .progressbar {
    counter-reset: step;
  }
  .progressbar li {
    list-style: none;
    display: inline-block;
    width: 15.33%;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height : 30px;
    border: 5px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #ddd;
  }
  .progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index : -1;
  }
  .progressbar li:first-child:after {
    content: none;
  }
  .progressbar li.active {
    color: #fff;
  }
  .progressbar li.active:before {
    border-color: rgb(86, 50, 139);
    background-color: rgb(86, 50, 139);
  } 
  .progressbar li.active + li:after {
    background-color: rgb(86, 50, 139);
  }
  .cv-experience{
    width: 100%;
  }
  .cv-experience input{
    width: 91%;
  }
  .experience-icon{
    margin-left: 20px;
    margin-bottom: -15px;
  }
  .templates-container{
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 50px;  
    background-color:rgba(247, 247, 247, 0.8);
    border-radius: 5px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
  }
  .templates-container p{
    text-align: center;
    font-size: 1.2rem;
    color: rgb(36, 36, 36, 0.6);
}
  .select-cv-templates{
    width: 100%;
    height: 100%; 
    height: auto;
    padding-left: 50px;
    padding-right: auto;
  }
  .templates-card{
    width: 30%;
    height: 350px;
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 25px;
    background-color:rgba(247, 247, 247, 0.8);
    border-radius: 5px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    float: left;
    text-align: center;
  }
  .templates-icons{
    width: 270px;
    height: 340px;
  }
  .templates-alt{
    padding: 20%;
  }